<ons-card>
  <div class="title center">
    Login To Alfred
  </div>
  <div class="content center">
    <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Alfred Logo" style="width: 100%">
    <button class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()">
      Login with Facebook
    </button>
    <div class="center top-margin">
      <div class="padded-top">
        <ons-input id="email" modifier="underbar" placeholder="Email" float></ons-input>
      </div>
      <div class="padded-top">
        <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>
      </div>
      <p class="top-margin">
        <ons-button (click)="signIn()">Sign In</ons-button>
      </p>
    </div>
  </div>
</ons-card>
<ons-card>
  <div class="title center">
    New User?
  </div>
  <div class="content center">
    <div class="center top-margin">
      <div class="padded-top">
        <ons-input id="username" modifier="underbar" placeholder="Nickname" float></ons-input>
      </div>
      <div class="padded-top">
        <ons-input id="email" modifier="underbar" placeholder="Email" float></ons-input>
      </div>
      <div class="padded-top">
        <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>
      </div>
      <p class="top-margin">
        <ons-button (click)="signUp()">Sign Up Now</ons-button>
      </p>
    </div>
  </div>
</ons-card>