<ons-page>
  <ons-toolbar>
    <div class="left padded-left" *ngIf="!currentGroup;else group_name" (click)="openMenu()">
      <span><img src="../../assets/alfred-black.png" alt="Onsen UI" class="menu-logo">
        <span class="nav-title">Alfred</span>
      </span>
    </div>
    <div class="right">
      <ons-toolbar-button #button (click)="popover.show(button)">
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <router-outlet></router-outlet>
    <main-footer></main-footer>
  </div>
</ons-page>

<ons-popover direction="down" cancelable #popover (prehide)="onPreHide($event)">
  <ons-list>
    <ons-list-item *ngIf="isLoggedIn;else login_item" [routerLink]="['/user', loginService.getProfile().alfred.userId]" tappable (click)="popover.hide()">
      <span class="menu-item"><img [src]="loginService.getProfile().facebook.picture.data.url">{{loginService.getProfile().facebook.name}}</span>
    </ons-list-item>
    <ons-list-item *ngIf="isLoggedIn" [routerLink]="['/dashboard']" tappable (click)="popover.hide()"><span class="menu-item">Dashboard</span></ons-list-item>
    <ons-list-item [routerLink]="['/about']" tappable (click)="popover.hide()"><span class="menu-item">About</span></ons-list-item>
    <ons-list-item [routerLink]="['/privacy']" tappable (click)="popover.hide()"><span class="menu-item">Privacy</span></ons-list-item>
    <ons-list-item [routerLink]="['/tos']" tappable (click)="popover.hide()"><span class="menu-item">Terms</span></ons-list-item>
    <ons-list-item *ngIf="isLoggedIn" tappable (click)="popover.hide(); logoutFacebook();">
        <span class="menu-item">Logout</span>
    </ons-list-item>
  </ons-list>
</ons-popover>

<ng-template #login_item>
  <ons-list-item [routerLink]="['/login']" tappable (click)="popover.hide()"><span class="menu-item">Login</span></ons-list-item>
</ng-template>
<ng-template #group_name>
  <span [routerLink]="['/dashboard/group', currentGroup.groupId]"><img src="../../assets/alfred-black.png" alt="Onsen UI" class="menu-logo">
    <span class="nav-title">{{currentGroup.groupName}}</span>
  </span>
</ng-template>