<ons-page>
  <ons-toolbar class="toolbar">
    <div class="left padded-left">
      <div *ngIf="!currentGroup;else group_name">
        <span><img src="../../assets/alfred-logo.png" alt="Onsen UI" class="menu-logo" (click)="openMenu()">
          <span class="nav-title">Alfred</span>
        </span>
      </div>
    </div>
    <div class="right">
      <ons-toolbar-button #button (click)="popover.show(button)">
        <ons-icon class="menu-button" icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <router-outlet></router-outlet>
    <main-footer></main-footer>
  </div>
</ons-page>

<ons-popover direction="down" cancelable #popover (prehide)="onPreHide($event)">
  <ons-list>
    <ons-list-item *ngIf="isLoggedIn;else login_item" [routerLink]="['/user', loginService.getProfile().alfred.userId]" tappable
      (click)="popover.hide()" class="menu-header">
      <span>
        <img class="menu-profile-pic" [src]="loginService.getProfile().facebook.picture.data.url">
        <span class="menu-profile-name">{{truncate(loginService.getProfile().facebook.name)}}</span>
      </span>
    </ons-list-item>
    <ons-list-item *ngIf="isLoggedIn" [routerLink]="['/dashboard']" tappable (click)="popover.hide()"><span class="menu-item">Dashboard</span></ons-list-item>
    <ons-list-item [routerLink]="['/about']" tappable (click)="popover.hide()"><span class="menu-item">About</span></ons-list-item>
    <ons-list-item [routerLink]="['/privacy']" tappable (click)="popover.hide()"><span class="menu-item">Privacy</span></ons-list-item>
    <ons-list-item [routerLink]="['/tos']" tappable (click)="popover.hide()"><span class="menu-item">Terms</span></ons-list-item>
    <ons-list-item *ngIf="isLoggedIn" tappable (click)="popover.hide(); modal_logout.show()">
      <span class="menu-item">Logout</span>
    </ons-list-item>
  </ons-list>
</ons-popover>

<ng-template #login_item>
  <ons-list-item [routerLink]="['/login']" tappable (click)="popover.hide()"><span class="menu-item">Login</span></ons-list-item>
</ng-template>
<ng-template #group_name>
  <div>
    <span><img src="../../assets/alfred-logo.png" alt="Onsen UI" class="menu-logo" (click)="openMenu()">
      <span class="nav-title" [routerLink]="currentGroup.routerLink">{{currentGroup.groupName}}</span>
    </span>
  </div>
</ng-template>

<!-- Modals -->
<ons-modal #modal_logout animation="fade">
  <ons-card style="color: black;">
    <div class="title modal-title">
      Logout Confirmation
    </div>
    <div class="content">
      <p class="modal-text">Are you sure you want to logout?</p>
      <div class="center">
        <ons-button class="margin-top button-text button-reject" (click)="modal_logout.hide()">Cancel</ons-button>
        <ons-button class="margin-top button-text button-accept" (click)="modal_logout.hide(); logoutFacebook();">Logout</ons-button>
      </div>
    </div>
  </ons-card>
</ons-modal>