<ons-card>
  <div class="center"><h1>Alfred</h1></div>
  <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
  <div class="center title">
    Out for Drinks?
  </div>
  <div class="content">
    <div class="center">
      <span>Alfred gets you home!</span><br>
      <ons-button class="top-margin" [routerLink]="['/login']">Login Now</ons-button>
    </div>
  </div>
</ons-card>
<ons-card>
  <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
  <div class="center title">
    Drinking with Friends
  </div>
  <div class="content">
    <div class="center">
      <span>Alfred allows you to track your friends in real-time.</span>
      <span>You will never lose each other on a night out again!</span>
    </div>
  </div>
</ons-card>
<ons-card>
  <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
  <div class="center title">
    Contact your Friends
  </div>
  <div class="content">
    <div class="center">
      <span>Alfred keeps track of all your friend's numbers.</span>
      <span>You can contact them easily when you need to!</span>
    </div>
  </div>
</ons-card>
<ons-card>
  <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
  <div class="center title">
    Go Home Together
  </div>
  <div class="content">
    <div class="center">
      <span>Alfred plots the shortest route to get you and your friends Uber'ed home!</span><br>
      <div>
        <ons-button class="top-margin">Get Started Now!</ons-button>
      </div>
    </div>
  </div>
</ons-card>