<div class="all">
  <br/>
  <h1 class="center title">
    Party all night
  </h1>
  <h3 class="center title">
    Get home safely
  </h3>
  <div class="content">
    <div class="center">
      <ons-button class="top-margin" modifier="material cta" [routerLink]="['/login']">Get Started</ons-button>
    </div>
  </div>
  <br/>
  <hr/>

  <img src="../../assets/beer.png" alt="Onsen UI" class="landing-logo">
  <h2 class="center title">
    Drinking with Friends
  </h2>
  <div class="content">
    <div class="center">
      <p class="paragraph">Alfred lets you track your friends in real-time. You will never lose each other on a night out.</p>
    </div>
  </div>
  <br/>
  <hr/>

  <br/>
  <img src="../../assets/call.png" alt="Onsen UI" class="landing-logo2">
  <br/>
  <h2 class="center title">
    Contact your Friends
  </h2>
  <div class="content">
    <div class="center">
      <p class="paragraph">Alfred keeps track of your friends' numbers. Even when you are offline.</p>
    </div>
  </div>
  <br/>
  <hr/>

  <br/>
  <img src="../../assets/go-to-map.png" alt="Onsen UI" class="landing-logo2">
  <br/>
  <h2 class="center title">
    Go Home Together
  </h2>
  <div class="content">
    <div class="center">
      <p class="paragraph">Alfred plots the shortest route to get you and your friends Uber'ed home.</p>
    </div>
  </div>
  <br/>
  <hr/>

  <ons-button class="landing-logo center top-margin" modifier="material cta" [routerLink]="['/login']">Get Started</ons-button>
</div>