.button-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.button-blue {
  background-color: #2a82bd;
}

.button-reject {
  background-color: #c0c0c0;
}

.button-accept {
  background-color: #284253;
}

.modal-text {
  font-family: "Montserrat", sans-serif;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
}

.margin-top {
  margin-top: 5px;
}

.padded {
  padding: 5px;
}

.input-area {
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10%;
}

.loading-block {
  color: white;
  background: #2e3e49;
}

.center {
  text-align: center;
}
