<ons-card>
  <br/>
  <div class="content center">
    <img src="../../assets/alfred-black.png" alt="Alfred Logo" style="width: 50%">
    <br/>
    <ons-button class="margin-top button-text button-blue" (click)="modal_join.show(); resetModal();">Join Group</ons-button>
    <ons-button class="margin-top button-text button-blue" (click)="modal_create.show(); resetModal();">Create Group</ons-button>
  </div>
</ons-card>

<ons-list>
  <ons-list-header>My Groups</ons-list-header>
  <div *ngIf="groups;else loading_groups">
    <div *ngFor="let group of groups">
      <ons-list-item tappable (click)="enterGroup(group)">
        <ons-icon icon="github" size="30px" fixed-width="true"></ons-icon><span>{{group.name}}</span></ons-list-item>
    </div>
  </div>
</ons-list>
<!-- NG Templates -->
<ng-template #loading_groups>
  <ons-list-item>
    <ons-progress-circular indeterminate></ons-progress-circular><span>Loading Groups...</span>
  </ons-list-item>
</ng-template>
<!-- Modal -->
<ons-modal #modal_create animation="fade">
  <ons-card style="color: black;">
    <div class="title modal-title">
      Create a Group
    </div>
    <div class="content">
      <p class="modal-text">Hire Alfred to take care of your friends!</p>
      <div>
        <ons-input class="input-area modal-text" placeholder="Group Name here!" [(value)]="modalGroup.name"></ons-input>
        <ons-input class="input-area modal-text" placeholder="Password here (min. 8 characters)" type="password" [(value)]="modalGroup.password"></ons-input>
      </div>
      <div class="center">
        <ons-button class="margin-top button-text button-reject" (click)="modal_create.hide()">Cancel</ons-button>
        <ons-button class="margin-top button-text button-accept" (click)="modal_create.hide(); createGroup();">Create</ons-button>
      </div>
    </div>
  </ons-card>
</ons-modal>

<ons-modal #modal_join animation="fade">
  <ons-card style="color: black;">
    <div class="title modal-title">
      Join a Group
    </div>
    <div class="content">
      <p class="modal-text">Join a group of friends on Alfred!</p>
      <div>
        <ons-input class="input-area modal-text" placeholder="Group Name here!" [(value)]="modalGroup.name"></ons-input>
        <ons-input class="input-area modal-text" placeholder="Password here!" type="password" [(value)]="modalGroup.password"></ons-input>
      </div>
      <div class="center">
        <ons-button class="margin-top button-text button-reject" (click)="modal_join.hide()">Cancel</ons-button>
        <ons-button class="margin-top button-text button-accept" (click)="modal_join.hide(); joinGroup();">Join</ons-button>
      </div>
    </div>
  </ons-card>
</ons-modal>