.top-padded {
  padding-top: 8px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

* {
  font-family: "Montserrat", sans-serif;
}

.footer {
  margin-top: 10px;
}

.user-profile-pic {
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

.user-name {
  position: relative;
  left: 5px;
  margin-right: 5px;
}

.owner {
  background-color: #eeeeee;
}

.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.button-blue {
  background-color: #2a82bd;
}

.button-reject {
  background-color: #c0c0c0;
}

.button-accept {
  background-color: #284253;
}
