.top-padded {
  padding-top: 8px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.user-profile-pic {
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

.user-name {
  position: relative;
  left: 5px;
}
