.right-padded {
    padding-right: 10px;
}

.left-padded {
  padding-left: 10px;
}

.back-btn {
  vertical-align: 0%;
  padding-right: 5px;
}

.menu-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.menu-title-logo {
  height: 40px;
  width: 32px;
}

.menu-item {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.valign {
  vertical-align: 25%;
}