<ons-toolbar>
    <div class="left left-padded">Quick Links</div>
    <div class="right">
      <ons-icon class="back-btn" icon="ion-arrow-right-a" size="20px" fixed-width="true" (click)="closeMenu()"></ons-icon>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <ons-list-item [routerLink]="['/login']" tappable (click)="closeMenu()">Login</ons-list-item>
    <ons-list-item [routerLink]="['/user', user.id]" tappable (click)="closeMenu()">Login</ons-list-item>
    <ons-list-item [routerLink]="['/dashboard']" tappable (click)="closeMenu()">Login</ons-list-item>
    <ons-list-item [routerLink]="['/about']" tappable (click)="closeMenu()">About</ons-list-item>
    <ons-list-item [routerLink]="['/privacy']" tappable (click)="closeMenu()">Privacy</ons-list-item>
    <ons-list-item [routerLink]="['/tos']" tappable (click)="closeMenu()">Terms</ons-list-item>
  </div>