<ons-toolbar class="toolbar">
  <div class="left left-padded">
    <span class="menu-title valign">My Groups</span>
  </div>
  <div class="right">
    <ons-icon class="back-btn" icon="ion-arrow-left-a" size="20px" fixed-width="true" (click)="closeMenu()"></ons-icon>
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <div *ngIf="!loading;else is_loading">
    <div *ngIf="groups;else no_groups">
      <ons-list-item *ngFor="let group of groups" [routerLink]="['/dashboard/group', group.groupId]" tappable (click)="closeMenu()">
        <span class="menu-item">{{group.name}}</span>
      </ons-list-item>
      <ons-list-item [routerLink]="['/dashboard']" tappable (click)="closeMenu()">
        <ons-icon class="plus-icon" icon="fa-plus-square-o" size="20px">
        </ons-icon>
      </ons-list-item>
    </div>
  </div>
</div>

<ng-template #is_loading>
  <ons-list-item>
    <ons-progress-circular indeterminate></ons-progress-circular><span>Loading Groups...</span>
  </ons-list-item>
</ng-template>

<ng-template #no_groups>
  <ons-list-item>
    <span>You have no Groups yet!</span>
  </ons-list-item>
</ng-template>