.right {
  text-align: right;
}
.small-btn {
  line-height: 16px;
}

.top-padded {
  padding-top: 8px;
}
hr.divider {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.footer-font {
  font-size: 0.75em;
}
.center {
  text-align: center;
}
