<div *ngIf="!loading;else loading_user">
  <div *ngIf="user;else no_user">
    <div *ngIf="isOwner;else view_user">
      <ons-card>
        <div class="center">
          <img class="thumbnail" [src]="'https://graph.facebook.com/' + user.fid + '/picture?type=large'" alt="https://monaca.io/img/logos/download_image_onsenui_01.png">
          <div class="title">
            {{user.name}}
          </div>
        </div>
        <div class="content">
          <ons-list-item>
            <div *ngIf="validEmail;else invalid_mail">
              <ons-icon class="font-blue" icon="ion-email" size="30px" fixed-width="true"></ons-icon>
            </div>
            <ons-input class="input-area left-margin" placeholder="Eg: alfred@gmail.com" [(value)]="user.email"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <div *ngIf="validNumber;else invalid_number">
              <ons-icon class="font-blue" icon="ion-ios-telephone" size="30px" fixed-width="true"></ons-icon>
            </div>
            <ons-input class="input-area left-margin" placeholder="Eg: 91237654" type="number" [(value)]="user.contactNumber"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-icon icon="ion-android-home" size="30px" fixed-width="true"></ons-icon>
            <textarea id="address" class="input-area left-margin medium-font" placeholder="Eg: Reflections At Keppel Bay, Singapore" #address>{{user.address}}</textarea>
            <span><small>*This address is used for cabbing you home!</small></span>
          </ons-list-item>
          <div class="right top-padded">
            <ons-button modifier="cta" class="colour-blue" (click)="saveChanges()">Save Changes</ons-button>
          </div>
        </div>
      </ons-card>
    </div>
  </div>
</div>
<!-- NG Templates -->
<ng-template #loading_user>
  <ons-card>
    <div class="content">
      <ons-progress-circular indeterminate></ons-progress-circular><span>Loading...</span>
    </div>
  </ons-card>
</ng-template>
<ng-template #no_user>
  <ons-card>
    <div class="content">
      <span>No such user</span>
    </div>
  </ons-card>
</ng-template>
<ng-template #view_user>
  <ons-card>
    <div class="center">
      <img class="thumbnail" [src]="'https://graph.facebook.com/' + user.fid + '/picture?type=large'" alt="https://monaca.io/img/logos/download_image_onsenui_01.png">
      <div class="title">
        {{user.name}}
      </div>
    </div>
    <div class="content">
      <ons-list-header>Details</ons-list-header>
      <ons-list-item>
        <div *ngIf="validMail;else invalid_mail">
          <a [href]="'mailto:' + user.email">
            <ons-icon class="font-blue" icon="ion-email" size="30px" fixed-width="true"></ons-icon>
          </a>
        </div>
        <div class="left-margin">{{user.email}}</div>
      </ons-list-item>
      <ons-list-item>
        <div *ngIf="validNumber;else invalid_number">
          <a [href]="'tel:' + 'user.contactNumber'">
            <ons-icon class="font-blue" icon="ion-ios-telephone" size="30px" fixed-width="true"></ons-icon>
          </a>
        </div>
        <div class="left-margin">{{user.contactNumber}}</div>
      </ons-list-item>
      <ons-list-item>
        <ons-icon icon="ion-android-home" size="30px" fixed-width="true"></ons-icon>
        <div class="left-margin">
          {{user.address}}
        </div>
      </ons-list-item>
    </div>
  </ons-card>
</ng-template>
<ng-template #invalid_mail>
  <ons-icon icon="ion-email" size="30px" fixed-width="true"></ons-icon>
</ng-template>
<ng-template #invalid_number>
  <ons-icon icon="ion-ios-telephone" size="30px" fixed-width="true"></ons-icon>
</ng-template>

<ons-modal #modal_loading animation="fade">
  <ons-card class="loading-block">
    <div class="center">
      <h2>Updating...</h2>
    </div>
  </ons-card>
</ons-modal>