<div *ngIf="!loading;else loading_user">
<div *ngIf="user;else no_user">
<ons-card>
  <img [src]="'https://graph.facebook.com/' + user.fid + '/picture?type=large'" alt="https://monaca.io/img/logos/download_image_onsenui_01.png">
  <div class="center title">
    {{user.name}}
  </div>
  <div class="content">
    <ons-list-header>Details</ons-list-header>
    <ons-list-item>
      <ons-icon class="back-btn" icon="ion-email" size="30px" fixed-width="true" (click)="closeMenu()"></ons-icon> 
      <span>{{user.email}}</span>
    </ons-list-item>
    <ons-list-item>
      <ons-icon class="back-btn" icon="ion-ios-telephone" size="30px" fixed-width="true" (click)="closeMenu()"></ons-icon> 
      <span>{{user.contactNumber}}</span>
    </ons-list-item>
    <ons-list-item>
      <ons-icon class="back-btn" icon="ion-android-home" size="30px" fixed-width="true" (click)="closeMenu()"></ons-icon> 
      <span>{{user.address}}</span>
    </ons-list-item>
  </div>
</ons-card>
</div>
</div>
<!-- NG Templates -->
<ng-template #loading_user>
  <ons-card>
    <div class="content">
      <ons-progress-circular indeterminate></ons-progress-circular><span>Loading...</span>
    </div>
  </ons-card>
</ng-template>
<ng-template #no_user>
  <ons-card>
    <div class="content">
      <span>No such user</span>
    </div>
  </ons-card>
</ng-template>